<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board Picker</title>
    <link rel="stylesheet" href="style/skeleton.css"/>
    <script type="text/javascript" src="script/script.js"></script>
</head>
<body>

    <header>
        <img id="logo" src="image/logo.png" alt="로고">
        <button id="goto_show_button" onclick="goto_show(event)">등록된 알림 목록</button>
        <button id="goto_add_button" onclick="goto_add(event)">게시판 알림 등록하기</button>
    </header>

    <section id="show">
        <button id="goto_intro_from_show" onclick="goto_header(event)">처음으로</button>
    </section>
    <section id="add">
        <button id="goto_intro_from_add" onclick="goto_header(event)">처음으로</button>
    </section>
    <footer>

    </footer>
    <script>
        resize_elements();
    </script>
</body>
</html>