body{
    background-color: rgb(183, 183, 183);
}
header{
    background-color:rgba(0, 183, 255, 0.3);
}
#add{
    background-color:rgba(183, 255, 0, 0.3);
}
#show{
    background-color: rgba(255, 183, 0, 0.3);
}
footer{
    background-color:rgba(0, 255, 183, 0.3);
}

#logo{
    width:50%;
    margin-left:25%;
    margin-right:25%;
}
#goto_add_button{
    background-color:rgb(183, 255, 0);
}
#goto_show_button{
    background-color:rgb(255, 183, 0);
}
#goto_add_button, #goto_show_button{
    width:35%;
    height:150px;
    margin-top:100px;
    margin-left:10%;
    font-size:30px;
}
#goto_intro_from_add, #goto_intro_from_show{
    width:35%;
    font-size:30px;
}
#registered_list{
    border:1px solid black;
    height:80%;
    overflow:scroll;
}
#registered_list li{
    background-color:rgba(0, 0, 0, 0.1);
    margin-top:5px;
    font-size:20px;
}
#registered_list li img{
    height:30px;
    float:right;
    margin-right:10px;
}
#registered_list div{
    border:3px solid rgba(150, 150, 150, 0.5);
}